<header class="site-header">
    <div class="inner">
        <div class="logo">
            <%= shop_name %>
        </div>
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/register">Register</a>
            <a href="/search">Search</a>
            <a href="/survey">Survey</a>
        </nav>
    </div>
</header>