<!-- A header for the site -->
<header class="site-header">
    <!-- Container for the header content -->
    <div class="inner">
        <!-- Logo -->
        <div class="logo">
            <%= shop_name %>
        </div>
        <!-- Navigation -->
        <nav class="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/register">Register</a>
            <a href="/search">Search</a>
            <a href="/survey">Survey</a>
        </nav>
    </div>
</header>