<!doctype html>
<html>

<head>
    <title>
        <%=shop_name%>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <!-- Use container for the main content -->
        <div class="container">
            <h1>Welcome to <%=shop_name%> Shop</h1>
            <h2>Here are some things that we sell:</h2>
            <ul>
                <!-- Use forEach to iterate over product categories -->
                <% product_categories.forEach((category)=> { %>
                    <li>
                        <%= category %>
                    </li>
                    <% }) %>
            </ul>
        </div>
</body>

</html>